<% if get_recently_viewed_products.any? %>
  <div id="recently_viewed" data-hook>
    <span class="section-title without-selection"><%= Spree.t(:recently_viewed_products) %></span>
    <ul id="recently_viewed_products">
      <% get_recently_viewed_products.each do |p| %>
        <!--<li><%= link_to p.name, p %></li>-->
          <%= render :partial => 'spree/shared/viewed_products_image',  :locals => {:product => p} %>
      <% end -%>
    </ul>
  </div>
<% end %>
